
.coolCompCircle {
    border: 5px solid white;
    border-radius: 50%;
    font-size: 5rem;
    width: 140px;
    min-width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}