
/* 

    font-family: 'Lato', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Roboto Slab', serif;

*/

body {
    background-color: #0E0E0E;
}

.m-10 {
    margin-top: 10px;
}

textarea {
    resize: none;
    width: 24rem;
    height: 5rem;
}

.b-coffee {
    background: url(./img/blue_coffee_compressed.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    width: 100%;
    height: 95vh;

    display: flex;
    justify-content: right;
}

.b-coffee-title {
    margin-right: 20vw;
    margin-top: 15vh;
    display:flex;
    flex-direction: column;
}

.b-coffee-text {
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    max-width: 30rem;
    justify-content: left;
    padding-left: 2rem;
}

.offering-display {
    width: 100%;
    height: 150vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.food-icons {
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.food-icon {
    color: #F6AA50;
    font-size: 130px;
}

.offering-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 35vw;
}

.offering-map-title {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.BEANS {
    /* Very cool trick to make background image transparent but not contents */
    background: linear-gradient(rgba(14,21,36,.7), rgba(14,21,36,.7)), url(./img/BEANS.jpg) no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 75vh;
    filter: blur(5px);
    z-index: -1;

    display: flex;
    justify-content: right;
}

.BEANS-overlay {
    width: 100%;
    height: 75vh;
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 2rem;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.soushmead {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-left: 16rem; 
    cursor: pointer;
}


.leftTest {
    align-self: flex-start;
    width: 100%;
}


.rightTest {
    align-self: flex-end;
    margin-right: 16rem; 
}


.triptych {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.triptych-left {
    background: url(./img/coffee_pour.jpg) no-repeat;
    background-size: cover;
    width: 30%;
}

.triptych-center {
    width: 40%;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.triptych-right {
    background: url(./img/coffee_menu.jpg) no-repeat;
    background-size: cover;
    width: 30%;
}


.triptych-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 30rem;
}


.footer {
    width: 100%;
    height: 55vh;
    background-color: #0E0E0E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding-top: 3rem;
    /* background: linear-gradient(rgba(14,14,14,.97), rgba(14,14,14,.97)), url(./img/BEANS.jpg) no-repeat;
    background-size: cover; */
}

.footer input, .footer textarea {
    display: block;
}

.footerDeets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    gap: 4rem;
}

.footerContact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    gap: 4rem;
}

.footerFollow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    gap: 1rem;
}

.footerLogos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.menu-top {
    background: linear-gradient(rgba(14,21,36,.4), rgba(14,21,36,.4)), url(./img/board_coffee_compressed.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -200px;
    width: 100%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
}

.menu-display {
    width: 100%;
    padding-top:7rem;
    padding-bottom:7rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.little-line {
    width: 60vw;
    border-top: 2px solid rgba(14,21,36);
}

.big-line {
    width: 70vw;
    border-top: 2px solid rgba(14,21,36);
}

.menu-row {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}


.order-top {
    background: linear-gradient(rgba(14,21,36,.4), rgba(14,21,36,.4)), url(./img/coffee_on_BEANS_compressed.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -400px;
    width: 100%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.order-display {
    width: 100%;
    min-height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.order-box {
    background-color: #F6AA50;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    min-height: 70vh;
    -webkit-box-shadow: 0px 13px 13px 5px rgba(0,0,0,0.34); 
    box-shadow: 0px 13px 13px 5px rgba(0,0,0,0.34);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    gap: 1rem;
}

.checkout-row {
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-right: 4rem;
    align-self: flex-end;
}

.checkout-row button {
    padding: 1rem 2rem 1rem 2rem;
    background-color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.checkout-row button:hover {
    -webkit-box-shadow: 0px 13px 13px 5px rgba(0,0,0,0.34); 
    box-shadow: 0px 13px 13px 5px rgba(0,0,0,0.34);
    padding: 1.1rem 2.1rem 1.1rem 2.1rem;
}